In [5]:
# Sets to tuple method
similar_ids = { 
    123: [458, 812, 765], 
    458: [123, 812, 765], 
    812: [123, 458], 
    765: [123, 458], 
    999: [100], 
    100: [999] 
}

# Initialize set data object, Sets have unique elements 
# if try to add an element that already exist will auto-removed from set because have same hash
result_set=set()

# Get all possible pairs
for article_from_i, articles_to_i in similar_ids.items():
    for article_to_j in articles_to_i:
        # Add every article from and article to pair by a set and get default ordered 
        # by set creation. and finally create a tuple because set is a unhashable type
        result_set.add(tuple({article_from_i, article_to_j}))

result_set

{(100, 999), (123, 765), (123, 812), (458, 123), (458, 765), (458, 812)}

In [15]:
# order low to high method
similar_ids = { 
    123: [458, 812, 765], 
    458: [123, 812, 765], 
    812: [123, 458], 
    765: [123, 458], 
    999: [100], 
    100: [999] 
}

# Initialize set data object, Sets have unique elements 
# if try to add an element that already exist will auto-removed from set because have same hash
result_set=set()

# Get all possible pairs
for article_from_i, articles_to_i in similar_ids.items():
    for article_to_j in articles_to_i:
        values=(
            (article_from_i, article_to_j) 
            if article_from_i <= article_to_j 
            else 
            (article_to_j, article_from_i)
        )
        # Add every article from and article to pair by evaluate id value 
        # if article_from_i is lesser than article_to_j (article_from_i, article_to_j) 
        # otherwise (article_to_j, article_from_i)
        result_set.add(values)

result_set

{(100, 999), (123, 458), (123, 765), (123, 812), (458, 765), (458, 812)}